<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Vote4Film</title>

<style>
  nav {
    max-width: 50em;
    margin: 0 auto;
  }
  main {
    max-width: 50em;
    margin: 0 auto;
  }
</style>

<nav>
  Upcoming | Vote | Calender
  | <a href="{% url 'films:film-create' %}">Add Film</a>
  | <a href="{% url 'films:film-list' %}">Films</a>
  | <a href="{% url 'admin:logout' %}">Logout {{ request.user.username }}</a>
  <hr>
</nav>

<main>
  {% block content %}
  {% endblock %}
</main>
